[Desktop Entry]
Name="devilspie2"
GenericName="devilspie2"
Comment="Devilspie autostart"
Exec=/usr/bin/bash -c "sleep 10 && systemctl --user start devilspie2.service"
Terminal=false
Type=Application
X-Gnome-Autostart=true
Hidden=false

